In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
data_frame = pd.read_csv('Entrenamieto_ECI_2020.csv')
data_frame.Account_Created_Date = pd.to_datetime(data_frame.Account_Created_Date)
data_frame.Actual_Delivery_Date = pd.to_datetime(data_frame.Actual_Delivery_Date)
data_frame.Opportunity_Created_Date = pd.to_datetime(data_frame.Opportunity_Created_Date)
data_frame.Quote_Expiry_Date = pd.to_datetime(data_frame.Quote_Expiry_Date)
data_frame.Last_Modified_Date = pd.to_datetime(data_frame.Last_Modified_Date)
data_frame.Planned_Delivery_Start_Date = pd.to_datetime(data_frame.Planned_Delivery_Start_Date)
data_frame

,ID,Region,Territory,"Pricing, Delivery_Terms_Quote_Appr","Pricing, Delivery_Terms_Approved",Bureaucratic_Code_0_Approval,Bureaucratic_Code_0_Approved,Submitted_for_Approval,Bureaucratic_Code,Account_Created_Date,...,Delivery_Quarter,Delivery_Year,Actual_Delivery_Date,TRF,Total_Amount_Currency,Total_Amount,Total_Taxable_Amount_Currency,Total_Taxable_Amount,Stage,Prod_Category_A
0,27761,EMEA,None,1,1,1,1,0,Bureaucratic_Code_4,2015-06-16,...,Q2,2016,NaT,10,EUR,5272800.00,EUR,5272800.0,Closed Lost,Prod_Category_A_None
1,27760,EMEA,None,0,0,0,0,0,Bureaucratic_Code_4,2015-06-16,...,Q1,2016,NaT,0,EUR,48230.00,EUR,48230.0,Closed Won,Prod_Category_A_None
2,27446,Americas,NW America,0,0,0,0,0,Bureaucratic_Code_4,2015-04-21,...,Q1,2016,NaT,0,USD,83865.60,USD,83865.6,Closed Won,Prod_Category_A_None
3,16808,Americas,NW America,1,0,1,0,0,Bureaucratic_Code_5,2013-07-27,...,Q1,2018,NaT,14,USD,7421881.50,USD,7421881.5,Closed Lost,Prod_Category_A_None
4,16805,Americas,NW America,1,0,1,0,0,Bureaucratic_Code_5,2013-07-27,...,Q1,2018,NaT,25,USD,13357192.50,USD,13357192.5,Closed Lost,Prod_Category_A_None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16942,8781,EMEA,Austria,1,1,1,1,0,Bureaucratic_Code_4,2016-01-15,...,Q1,2016,NaT,0,EUR,103350.00,EUR,299715.0,Closed Won,Prod_Category_A_None
16943,8786,EMEA,Austria,1,1,1,1,0,Bureaucratic_Code_4,2016-01-15,...,Q2,2016,NaT,0,EUR,93015.00,EUR,299715.0,Closed Won,Prod_Category_A_None
16944,8792,EMEA,Austria,1,1,1,1,0,Bureaucratic_Code_4,2016-01-15,...,Q1,2016,NaT,0,EUR,103350.00,EUR,299715.0,Closed Won,Prod_Category_A_None
16945,28561,Americas,NE America,1,1,1,1,0,Bureaucratic_Code_4,2015-10-20,...,Q2,2016,NaT,4,USD,2346796.88,USD,0.0,Closed Lost,Prod_Category_A_None
16946,28318,Americas,NE America,1,1,1,1,0,Bureaucratic_Code_4,2015-09-03,...,Q3,2016,NaT,40,USD,25603200.00,USD,0.0,Closed Lost,Prod_Category_A_None

In [4]:
oportunidades_ganadas_middle_east = data_frame[(data_frame.Stage == 'Closed Won') & (data_frame.Region == 'Middle East')]
oportunidades_ganadas_middle_east.head(10)

,ID,Region,Territory,"Pricing, Delivery_Terms_Quote_Appr","Pricing, Delivery_Terms_Approved",Bureaucratic_Code_0_Approval,Bureaucratic_Code_0_Approved,Submitted_for_Approval,Bureaucratic_Code,Account_Created_Date,...,Delivery_Quarter,Delivery_Year,Actual_Delivery_Date,TRF,Total_Amount_Currency,Total_Amount,Total_Taxable_Amount_Currency,Total_Taxable_Amount,Stage,Prod_Category_A
1590,9750,Middle East,Jordan,1,1,0,0,0,Bureaucratic_Code_4,2017-02-27,...,Q3,2017,NaT,0,USD,40800.0,USD,83010.0,Closed Won,Prod_Category_A_None
1591,9756,Middle East,Jordan,1,1,0,0,0,Bureaucratic_Code_4,2017-02-27,...,Q3,2017,NaT,0,USD,42210.0,USD,83010.0,Closed Won,Prod_Category_A_None
1787,13109,Middle East,None,1,1,1,1,0,Bureaucratic_Code_4,2016-03-17,...,Q1,2017,NaT,1,USD,204120.0,USD,276382.5,Closed Won,Prod_Category_A_None
1788,13115,Middle East,None,1,1,1,1,0,Bureaucratic_Code_4,2016-03-17,...,Q1,2017,NaT,0,USD,46027.5,USD,276382.5,Closed Won,Prod_Category_A_None
1789,13120,Middle East,None,1,1,1,1,0,Bureaucratic_Code_4,2016-03-17,...,Q1,2017,NaT,0,USD,26235.0,USD,276382.5,Closed Won,Prod_Category_A_None
4673,13533,Middle East,None,1,1,1,1,0,Bureaucratic_Code_4,2016-10-12,...,Q4,2016,NaT,0,USD,44000.0,USD,44000.0,Closed Won,Prod_Category_A_None
4675,13623,Middle East,Saudi Arabia,1,1,1,1,0,Bureaucratic_Code_4,2016-10-13,...,Q4,2016,NaT,2,USD,675481.6,USD,675481.6,Closed Won,Prod_Category_A_None
4754,23554,Middle East,KSA,1,1,1,1,0,Bureaucratic_Code_4,2014-12-10,...,Q4,2016,NaT,0,USD,30240.0,USD,30240.0,Closed Won,Prod_Category_A_None
5121,14822,Middle East,UAE (Dubai),1,1,1,1,0,Bureaucratic_Code_4,2016-11-16,...,Q4,2016,NaT,0,USD,29736.0,USD,29736.0,Closed Won,Prod_Category_A_None
5402,13628,Middle East,UAE (Others),1,1,1,1,0,Bureaucratic_Code_4,2016-10-13,...,Q4,2016,NaT,2,USD,675481.6,USD,675481.6,Closed Won,Prod_Category_A_None

In [6]:
oportunidades_perdidas_middle_east = data_frame[(data_frame.Stage == 'Closed Lost') & (data_frame.Region == 'Middle East')]
oportunidades_perdidas_middle_east

,ID,Region,Territory,"Pricing, Delivery_Terms_Quote_Appr","Pricing, Delivery_Terms_Approved",Bureaucratic_Code_0_Approval,Bureaucratic_Code_0_Approved,Submitted_for_Approval,Bureaucratic_Code,Account_Created_Date,...,Delivery_Quarter,Delivery_Year,Actual_Delivery_Date,TRF,Total_Amount_Currency,Total_Amount,Total_Taxable_Amount_Currency,Total_Taxable_Amount,Stage,Prod_Category_A
745,5700,Middle East,Kuwait,1,1,1,1,0,Bureaucratic_Code_4,2017-01-08,...,Q3,2017,NaT,1,USD,431971.20,USD,431971.20,Closed Lost,Prod_Category_A_None
994,18723,Middle East,KSA,1,0,1,0,0,Bureaucratic_Code_5,2013-07-28,...,Q4,2017,NaT,120,USD,41999989.50,USD,41999989.50,Closed Lost,Prod_Category_A_None
995,6816,Middle East,KSA,1,0,1,0,0,Bureaucratic_Code_5,2017-01-24,...,Q4,2017,NaT,120,USD,41999989.50,USD,41999989.50,Closed Lost,Prod_Category_A_None
998,6822,Middle East,None,1,0,1,0,0,Bureaucratic_Code_5,2017-01-24,...,Q4,2017,NaT,120,USD,41999989.50,USD,41999989.50,Closed Lost,Prod_Category_A_None
999,6839,Middle East,UAE (Dubai),1,1,1,1,0,Bureaucratic_Code_4,2017-01-24,...,Q1,2017,NaT,0,USD,56441.70,USD,56441.70,Closed Lost,Prod_Category_A_None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15171,9723,Middle East,Jordan,1,1,1,1,0,Bureaucratic_Code_4,2017-02-27,...,Q4,2018,NaT,0,USD,67171.50,USD,67171.50,Closed Lost,Prod_Category_A_None
15406,13020,Middle East,Jordan,1,1,1,1,0,Bureaucratic_Code_4,2016-03-17,...,Q1,2019,NaT,0,USD,121605.00,USD,121605.00,Closed Lost,Prod_Category_A_None
15491,5985,Middle East,Jordan,1,1,1,1,0,Bureaucratic_Code_4,2017-07-05,...,Q4,2018,NaT,0,USD,67947.00,USD,67947.00,Closed Lost,Prod_Category_A_None
15547,8780,Middle East,UAE (Dubai),1,1,1,1,0,Bureaucratic_Code_4,2018-10-28,...,Q4,2018,NaT,0,USD,70875.75,USD,70875.75,Closed Lost,Prod_Category_A_None
15711,12960,Middle East,Jordan,1,0,1,0,0,Bureaucratic_Code_5,2016-03-17,...,Q4,2018,NaT,1,USD,250425.00,USD,250425.00,Closed Lost,Prod_Category_A_None